body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h4 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  background-color: beige;
}

div {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10%;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

form {
  display: inline;
}

h2 {
  margin-left: 30%;
  margin-top: 3%;
}

#filmeTable_filter {
  float: left;
}

.modifyForm input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.modifyForm input[type='submit']:hover {
  background-color: #45a049;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h4 {
  margin-top: 20px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="time"],
input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  display: inline-block;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #4caf4f72;
}
